@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=Nunito:wght@600;700&display=swap");
@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}
:root {
  --clr-darkest: #0b0b1a;
  --clr-dark: #141630;
  --clr-lightest: #ffffff;
  --clr-light: #e9efff;
  --clr-accent-1: #cb3cc6;
  --clr-accent-2: #5c42d4;

  --gradient: linear-gradient(90deg, var(--clr-accent-1), var(--clr-accent-2));

  --font-titles: "Kanit", sans-serif;
  --font-text: "Nunito", sans-serif;

  --font-size-text: 1.25rem;

  --padding-y: 2rem;

  font-family: var(--font-text);
  font-size: 16px;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-darkest);
  color: var(--clr-light);
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.padding-y {
  padding: var(--padding-y) 0;
}

a {
  font-size: var(--font-size-text);
  text-decoration: inherit;
}

button,
input[type="submit"] {
  transition: box-shadow 0.2s linear;
}

button:hover,
input[type="submit"]:hover {
  box-shadow: 0px 0px 5px var(--clr-accent-2);
}

p {
  font-size: var(--font-size-text);
}

.textGradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.cta {
  text-decoration: underline;
}

.card {
  background: var(--clr-darkest);
  border-radius: 1.25rem;
}

.card:hover {
  outline: 3px solid var(--clr-accent-1);
}

.title {
  font-family: var(--font-titles);
  color: var(--clr-lightest);
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.625rem;
}

h3 {
  font-size: 1.875rem;
}

p {
  line-height: 1.75rem;
}

.btn {
  padding: 0.7rem 5rem;
  border-radius: 5rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--clr-accent-2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-lightest);
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}
