.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.colLeft,
.colRight {
  flex: 1;
}

.logo {
  width: 230px;
}

.colLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mask {
  -webkit-mask-image: url(../assets/blob.svg);
  mask-image: url(../assets/blob.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: end;
  mask-position: end;
  -webkit-mask-size: 120%;
  mask-size: 120%;
}

.image {
  width: 80%;
}

.btn {
  background-image: var(--gradient);
  background-color: black;
  padding: 0.7rem 5rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  align-self: start;
  transition: box-shadow 0.2s linear;
}

.btn:hover {
  box-shadow: 0px 0px 5px var(--clr-accent-2);
}

@media (max-width: 900px) {
  body .flex {
    padding: 10px;
  }
  .mask {
    -webkit-mask-image: initial;
    mask-image: initial;
    -webkit-mask-repeat: initial;
    mask-repeat: initial;
    -webkit-mask-position: initial;
    mask-position: initial;
    -webkit-mask-size: initial;
    mask-size: initial;
  }
  .image {
    position: absolute;
    top: 5em;
    right: 5%;
    width: 300px;
    border-radius: 85% 50% 65% 30%;
    filter: brightness(50%);
    z-index: -1;
  }
}
