.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.colLeft,
.colRight {
  flex: 1;
}

.colRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgDark {
  background-color: var(--clr-dark);
}

@media (max-width: 900px) {
  body .flex {
    padding: 10px;
  }
  .flex {
    flex-direction: column;
  }
}
