.language {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 0.2rem 0.2rem;
  border-radius: 12px;
  border: 0;
  outline: 0.12em dashed var(--clr-accent-2);
  transition: outline 0.16s linear;
}

.language:hover {
  outline: 0.2em dashed var(--clr-accent-1);
}
